<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite" parallel="tests" thread-count="3">

	<!--  <test name="Login">
		<classes>
			<class name="com.cucumber.framework.runner.LoginRunner"/>
		</classes>
	</test>   -->
	
	    <test name="Search Case">
		<classes>
			<class name="com.cucumber.framework.runner.SearchRunner"/>
		</classes>
	</test>   
	
		
	   <test name="Pulse Functionality">
		<classes>
			<class name="com.cucumber.framework.runner.PulseRunner"/>
		</classes>
	</test>  
  	
	  <test name="Logout">
		<classes>
			<class name="com.cucumber.framework.runner.LogoutRunner"/>
		</classes>
	</test>     
	 
	
</suite> 